/*firstquiz*/


.first-quiz-flex{
   display: flex;
   flex-direction: column;
   margin: 20px;
}
.firstquiz-header{
    background-image:linear-gradient(#b6d4d59b ,#ffeaba , #f9bbbb51);
    text-align: center;
    padding: 10px;
    font-style:oblique;
    color:#7583c9;
   
}
#take-quiz{
   font-style: oblique;
   color: #7583c9;
   font-size: 20px;
   text-align: center;
}
#movie{
    text-align: center;
    color: #7583c9;
 }


#daxasiateba{
   font-size: 30px;
   color:#7583c9;
   text-align: center;
   
}

.container{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    background:#f8c4c449;
    border-style:double;
    border-color: #7583c9;
    align-content: center;
    gap:1em;
    margin: 10px 50px;
    padding: 30px;
 }

 .choice{
     
    border-style:double;
    border-color: #7583c9;
    float:left;
    width: 300px;
    transition: 500ms;
   
 }
 .choice img{
    height: 350px;
    width: 100%;
    margin: auto;
    display:block;
}

 .choice:hover{
    background:#f1ccd6;
    transform: scale(1.1);
    z-index:1;
 }
 
 /*second-quiz*/
